<table  class="table table-borderless table-warning text-center">
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Points</th>
        <th>UFOs</th>
        <th>Secs.</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of records; let i = index">
            <th scope="row">{{ i + 1 }}.</th>
            <td>{{ record.username }}</td>
            <td>{{ record.punctuation }}</td>
            <td>{{ record.ufos }}</td>
            <td>{{ record.disposedTime }}</td>
            <td>{{ record.recordDate | date : "dd/MM/yyyy, HH:mm" }}</td>
          </tr>        
    </tbody>
</table>