<section class="container pt-3">
  <div class="p-5 rounded cuerpo-normal my-5" id="cuerpo">
    <div id="fondocuerpo">
      <img src='assets/imgs/upm.gif' id='upmlogo_cartel' class='bordes_redondos' />
      <div class="float-end">
        <img src='assets/imgs/miw.png' id='miw_logo' class='bordes_redondos' />
      </div>
      <h1>Master en Ingeniería Web</h1>
      <p id="asig">Front - End para Navegadores Web</p>
      <div id="content-wrapper">
        <p id="practice">Practical exercise - UFO Battle</p>
        <img src='assets/imgs/ufo.png' id='ufo_logo' />
      </div>
    </div>
  </div>  
</section>